@using Dominio
@{
    ViewData["Title"] = "Lista de Actividades";
}

<h1>Listado de actividades</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Edad mínima</th>
            <th scope="col">Me gusta</th>
            <th scope="col">Categoría</th>
            <th scope="col">Lugar</th>
            <th scope="col">Precio</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Actividad item in @ViewBag.Actividades)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nombre</td>
                <td>@item.Fecha.ToShortDateString()</td>
                <td>@item.EdadMinima</td>
                <td>@item.MeGusta</td>
                <td>@item.NombreCategoria()</td>
                <td>@item.Lugar.Nombre</td>
                <td>$@item.TotalActividad()</td>
            </tr>
        }
    </tbody>
</table>

