@using Dominio;

@{
    ViewData["Title"] = "Datos de compras";
}

<h1>Datos de sus compras</h1>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Mensaje
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad de entradas</th>
            <th scope="col">Fecha y hora</th>
            <th scope="col">Estado</th>
            <th scope="col">Actividad</th>
            <th scope="col">Total de la compra</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Compra item in ViewBag.Compras)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.CantidadEntradas</td>
                <td>@item.FechaYHora</td>
                <td>@item.Estado</td>
                <td>@item.NombreActividad()</td>
                <td>$@item.TotalDeCompra()</td>
                @if (item.Estado == "Activa")
                {
                    <td><a href="/Compra/CancelarCompra?id=@item.Id">Cancelar</a></td>
                }
            </tr>
        }
    </tbody>
</table>
